* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  width: 600px;
  margin: 60px auto 10px;
  padding: 20px;
  font-size: 34px;
  text-align: center;
  border-radius: 8px;
  background-color: #f7712a;
  color: #fff;
}


h3 {
  width:300px;
  margin: 30px auto;
  text-align: center;
  border: 2px solid #f7712a;
  padding: 10px;
  font-size: 28px;
}



p {
 margin: 20px auto;
 text-align: center;
}




.dishes li {
  text-align: center;
  list-style: none;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #d78e66;
}

.container {
  width: 400px;
  margin: 40px auto;
  border: 2px solid #d78e66;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

img {
  width: 500px;
  height: auto;
  margin: 10px auto;
}

.foodie {
  display: block;
  margin: 20px auto;
}

.items-needed,.steps{
  text-align: center;
}

