body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

h1 {
  display: inline-block;
  color: #f93f23;
  font-size: 36px;
  font-weight: 800;
  border-top: 1px dashed rgb(223, 155, 68);
  border-bottom: 1px dashed rgb(233, 166, 79);
  padding: 12px;
  margin-top: 80px;
}

.container {
  display: flex;
  gap: 80px;
  padding: 80px;
}

a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #f93f23;
  border-radius: 12px;
  padding: 10px;
  color: rgb(233, 166, 79);
  margin-top: 30px;
  font-size: 18px;
}

img {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin-bottom: 30px;
}

.meal {
  max-width: 800px;
}

.description {
  font-size: 18px;
}

/* Recipes*/
.meal-container {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 20px;
  display: inline-block;
  border-bottom: 1px dashed rgb(233, 166, 79);
  padding: 12px;
  text-align: center;
}

.meal-image {
  width: 500px;
  height: 300px;
}

h3 {
  color: #f93f23;
  font-size: 22px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}

em {
  color: rgb(233, 166, 79);
}

.recipe-body {
  display:flex;
  flex-wrap: wrap;
  padding:28px;
  justify-content: space-around;
}

.steps {
  width: 500px;
}
